# settings
TEORIA_ENVIRONMENT=development
TEORIA_REGISTRY_PATH=registries
TEORIA_LOG_LEVEL=INFO
TEORIA_SOURCE_TIMEOUT_SECONDS=15
TEORIA_SOURCE_MAX_ATTEMPTS=3
TEORIA_SOURCE_MAX_PAGES=100
TEORIA_CAPABILITY_TIMEOUT_SECONDS=120
# source api key
TEORIA_SOURCE_FSC_COMPANY_BASIC_API_KEY=
TEORIA_SOURCE_FSC_COMPANY_FINANCIAL_API_KEY=
TEORIA_SOURCE_NTS_BUSINESS_REGISTRATION_API_KEY=

